body{
	background-color: cyan;
}
h1{
	color: red;
	border-top:2px solid #29D;
	border-bottom:2px solid #FFF;
	padding-bottom:10px;
	text-align:center;
}
h0{
	color: black;
	border-top:2px solid #29D;
	border-bottom:2px solid #FFF;
	padding-bottom:10px;
	text-align:center;
}
h2{
	color: green;
	border-top:2px solid #4ED;
	border-bottom:2px solid #FFF;
	padding-bottom:10px;
	text-align:center;
}

h3{
	color: blue;
	text-align:center;
}

table {
	width: 100%;
	border: 1px solid #000;
 }
 th, td {
	width: 25%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
 }
 caption {
	padding: 0.3em;
 }


